// .segment-1 -> top-bar
// .segment-2 -> mid-bar
// .segment-3 -> bottom-bar
// .segment-4 -> top-left
// .segment-5 -> top-right
// .segment-6 -> bottom-left
// .segment-7 -> bottom-right

.segment {
    background: $segment-color;
    position: absolute;
    -webkit-transition: background 0.15s;
    -moze-transition:   background 0.15s;
    transition:         background 0.15s;
}

.segment-1,
.segment-2,
.segment-3{
    width: $digit-width - (2 * $segment-width);
    height: $segment-width;
    left: $segment-width;

    &:before {
        content: '';
        position: absolute;
        left: -$segment-width;
        @include triangle-edges(transparent, $segment-color, transparent, transparent);
    }
    &:after {
        content: '';
        position: absolute;
        right: -$segment-width;
        @include triangle-edges(transparent, transparent, transparent, $segment-color);
    }
}

.segment-1    { top: 0; }
.segment-2    { top: $digit-width - $segment-width/2 }
.segment-3 { bottom: 0; }

.segment-4,
.segment-5,
.segment-6,
.segment-7 {
    width: $segment-width;
    height: $digit-width - (2 * $segment-width);

    &:before {
        content: '';
        position: absolute;
        top: -$segment-width;
        @include triangle-edges(transparent, transparent, $segment-color, transparent);
        left: 0;
    }
    &:after {
        content: '';
        position: absolute;
        bottom: -$segment-width;
        @include triangle-edges($segment-color, transparent, transparent, transparent);
        right: 0;
    }

}

.segment-4, .segment-5 { top: $segment-width + 3; }
.segment-6, .segment-7 { bottom: $segment-width + 3; }

.segment-4, .segment-6  { left:   0; }
.segment-5, .segment-7 { right:  0; }
