.top-bar,
.mid-bar,
.bottom-bar{
  width: $digit-width - (2 * $segment-width);
  height: $segment-width;
  left: $segment-width;

  &:before {
    content: '';
    position: absolute;
    left: -$segment-width;
    @include triangle-edges(transparent, $segment-color, transparent, transparent);
  }
  &:after {
    content: '';
    position: absolute;
    right: -$segment-width;
    @include triangle-edges(transparent, transparent, transparent, $segment-color);
  }
}

.top-bar    { top: 0; }
.mid-bar    { top: $digit-width - $segment-width/2 }
.bottom-bar { bottom: 0; }

.top-left,
.top-right,
.bottom-left,
.bottom-right {
  width: $segment-width;
  height: $digit-width - (2 * $segment-width);

  &:before {
    content: '';
    position: absolute;
    top: -$segment-width;
    @include triangle-edges(transparent, transparent, $segment-color, transparent);
    left: 0;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: -$segment-width;
    @include triangle-edges($segment-color, transparent, transparent, transparent);
    right: 0;
  }

}

.top-left, .top-right { top: $segment-width + 3; }
.bottom-left, .bottom-right { bottom: $segment-width + 3; }

.top-left, .bottom-left  { left:   0; }
.top-right, .bottom-right { right:  0; }
