.top-bar,
.mid-bar,
.bottom-bar{
  width: $digit-width - (2 * $segment-width);
  height: $segment-width;
  left: $segment-width;
  background: black;
  position: absolute; 
}

.top-bar    { top: 0%; }
.mid-bar    { top: 47%; }
.bottom-bar { bottom: 0; }

.top-left,
.top-right,
.bottom-left,
.bottom-right {
  width: $segment-width;
  height: 50%;
  position: absolute;
}

$radius: 10px;
.top-left, .top-right { top: 0; }
.top-left  { left:  0; border-top-left-radius: $radius; }
.top-right { right: 0; border-top-right-radius: $radius; }

.bottom-left, .bottom-right { bottom: 0; }
.bottom-left  { left:   0; border-bottom-left-radius: $radius; }
.bottom-right { right:  0; border-bottom-right-radius: $radius; }

.top-bar,
.mid-bar,
.bottom-bar,
.top-left,
.top-right,
.bottom-left,
.bottom-right {
  /*border-radius: 10px;*/
}