&.time-4 {
	.top-bar      { background: transparent; }
	.mid-bar      { background: red; }
	.bottom-bar   { background: transparent; }
	.top-left     { background: red; }
	.bottom-left  { background: transparent; }
	.top-right    { background: red; }
	.bottom-right { background: red; }
}
