$segment-color: white;
$segment-off: transparent;

$top-bar-color:      $segment-color;
$mid-bar-color:      $segment-color;
$bottom-bar-color:   $segment-color;
$top-left-color:     $segment-color;
$bottom-left-color:  $segment-color;
$top-right-color:    $segment-color;
$bottom-right-color: $segment-color;

$digit-width: 100px;
$segment-width: 12px;

@import 'segments';
@import 'transitions';

body{ background: black; }
.clock{
	height: 200px;
	margin-top: 250px;
	text-align: center;
	position: relative;
	background: $segment-off;

	& > div, & > div + div {
		margin-right: 20px;
	}

	#seconds-ones,
	#seconds-tens,
	#minutes-ones,
	#minutes-tens,
	#hours-ones,
	#hours-tens{
		display: inline-block;
		height: 100%;
		width: $digit-width;
		position: relative;

		@import 'zero';
		@import 'one';
		@import 'two';
		@import 'three';
		@import 'four';
		@import 'five';
		@import 'six';
		@import 'seven';
		@import 'eight';
		@import 'nine';
	}
}

.divider{
	display: inline-block;
	width: 26px;
	height: 200px;
	position: relative;
	&:before {
		content: '';
		position: absolute;
		width: 18px;
		height: 18px;
		background: $segment-color;
		left: 3px;
		top: 20%;
	}
	&:after {
		content: '';
		position: absolute;
		width: 18px;
		height: 18px;
		background: $segment-color;
		left: 3px;
		top: 70%;
	}
}

.labels span{
	display: inline-block;
	width: 204px;
}