@import 'variables';
@import 'segments';

#body { 
  -webkit-transition: background 5.0s;
  -moze-transition:   background 5.0s;
  transition:         background 5.0s;
}

.clock{
	height: 200px;
	margin-top: 35vh;
	text-align: center;
	position: relative;
	background: $segment-off;

	& > div, & > div + div {
		margin-right: 20px;
	}

	#seconds-ones,
	#seconds-tens,
	#minutes-ones,
	#minutes-tens,
	#hours-ones,
	#hours-tens{
		display: inline-block;
		height: 100%;
		width: $digit-width;
		position: relative;

		// .segment-1 -> top-bar
		// .segment-2 -> mid-bar
		// .segment-3 -> bottom-bar
		// .segment-4 -> top-left
		// .segment-5 -> top-right
		// .segment-6 -> bottom-left
		// .segment-7 -> bottom-right
		&.time-0 {
			.segment-2 { visibility: hidden; }
		}
		&.time-1 {
			.segment-1 { visibility: hidden; }
			.segment-2 { visibility: hidden; }
			.segment-3 { visibility: hidden; }
			.segment-4 { visibility: hidden; }
			.segment-6 { visibility: hidden; }
		}
		&.time-2 {
			.segment-4 { visibility: hidden; }
			.segment-7 { visibility: hidden; }
		}
		&.time-3 {
			.segment-4 { visibility: hidden; }
			.segment-6 { visibility: hidden; }
		}
		&.time-4 {
			.segment-1 { visibility: hidden; }
			.segment-3 { visibility: hidden; }
			.segment-6 { visibility: hidden; }
		}
		&.time-5 {
			.segment-6 { visibility: hidden; }
			.segment-5 { visibility: hidden; }
		}

		&.time-6 {
			.segment-5 { visibility: hidden; }
		}

		&.time-7 {
			.segment-2 { visibility: hidden; }
			.segment-3 { visibility: hidden; }
			.segment-4 { visibility: hidden; }
			.segment-6 { visibility: hidden; }
		}

		&.time-9 {
			.segment-6 { visibility: hidden; }
		}
	}
}

.divider{
	display: inline-block;
	width: 26px;
	height: 200px;
	position: relative;
	&:before,
	&:after {
		content: '';
		position: absolute;
		width: 18px;
		height: 18px;
		background: $segment-color;
		left: 3px;
	}
	&:before { top: 20%; }
	&:after  { top: 70%; }
}
