&.time-0 {
	.top-bar      { background: $segment-color; }
	.mid-bar      { background: $segment-off; }
	.bottom-bar   { background: $segment-color; }
	.top-left     { background: $segment-color; }
	.bottom-left  { background: $segment-color; }
	.top-right    { background: $segment-color; }
	.bottom-right { background: $segment-color; }
}
