&.time-0 {
	.top-bar      { background: $top-bar-color; }
	.mid-bar      { background: $segment-off; }
	.bottom-bar   { background: $bottom-bar-color; }
	.top-left     { background: $top-left-color; }
	.bottom-left  { background: $bottom-left-color; }
	.top-right    { background: $top-right-color; }
	.bottom-right { background: $bottom-right-color; }
}
