/*
Error: Base-level rules cannot contain the parent-selector-referencing character '&'.
        on line 1 of scss/five.scss

1: &.time-5 {
2: 	.top-bar      { background: $top-bar-color; }
3: 	.mid-bar      { background: $mid-bar-color; }
4: 	.bottom-bar   { background: $bottom-bar-color; }
5: 	.top-left     { background: $top-left-color; }
6: 	.bottom-left  { background: $segment-off; }

Backtrace:
scss/five.scss:1
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/selector/comma_sequence.rb:30:in `resolve_parent_refs'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:425:in `visit_rule'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:157:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:8:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/engine.rb:295:in `render_with_sourcemap'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:293:in `watch'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/plugin.rb:108:in `method_missing'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/exec/sass_scss.rb:384:in `watch_or_update'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/exec/sass_scss.rb:51:in `process_result'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/exec/base.rb:52:in `parse'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/exec/base.rb:19:in `parse!'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/bin/sass:13:in `<top (required)>'
/usr/local/rvm/gems/ruby-1.9.3-p194/bin/sass:19:in `load'
/usr/local/rvm/gems/ruby-1.9.3-p194/bin/sass:19:in `<main>'
/usr/local/rvm/gems/ruby-1.9.3-p194/bin/ruby_noexec_wrapper:14:in `eval'
/usr/local/rvm/gems/ruby-1.9.3-p194/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Base-level rules cannot contain the parent-selector-referencing character '&'.\A         on line 1 of scss/five.scss\A \A 1: &.time-5 {\A 2: 	.top-bar      { background: $top-bar-color; }\A 3: 	.mid-bar      { background: $mid-bar-color; }\A 4: 	.bottom-bar   { background: $bottom-bar-color; }\A 5: 	.top-left     { background: $top-left-color; }\A 6: 	.bottom-left  { background: $segment-off; }"; }
