/*
Error: Undefined variable: "$digit-width".
        on line 4 of scss/segments.scss

1: .top-bar,
2: .mid-bar,
3: .bottom-bar{
4:   width: $digit-width - (2 * $segment-width);
5:   height: $segment-width;
6:   left: $segment-width;
7:   background: black;
8:   position: absolute; 
9: }

Backtrace:
scss/segments.scss:4
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/script/tree/variable.rb:49:in `_perform'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/script/tree/node.rb:50:in `perform'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/script/tree/operation.rb:64:in `_perform'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/script/tree/node.rb:50:in `perform'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:394:in `visit_prop'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:430:in `block (2 levels) in visit_rule'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:430:in `map'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:430:in `block in visit_rule'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:428:in `visit_rule'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:157:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:8:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/engine.rb:295:in `render_with_sourcemap'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:328:in `block in watch'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/vendor/listen/lib/listen/listener.rb:252:in `call'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.16/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$digit-width\".\A         on line 4 of scss/segments.scss\A \A 1: .top-bar,\A 2: .mid-bar,\A 3: .bottom-bar{\A 4:   width: $digit-width - (2 * $segment-width);\A 5:   height: $segment-width;\A 6:   left: $segment-width;\A 7:   background: black;\A 8:   position: absolute; \A 9: }"; }
